
.card{
    padding: 0px;
}

.form-control{
    display: inline;
    width: 85%;
}

#clientsChoice{
    height: 400px !important;
}

.container-min{
    max-width: 500px !important;
}

.form-group input{
    width: 80%;
    display: inline;
    float: right;
}